{{!-- sign up or login options --}}
<div>
    <input type="text" placeholder="Username" id="username-signup" />
    <input type="password" placeholder="Password" id="password-signup" />
    <button class="btn btn-primary" type="submit">Signup</button>
</div>
<br>
<div>
    <input type="text" placeholder="Username" id="username-login" />
    <input type="password" placeholder="Password" id="password-login" />
    <button type="submit">Login</button>
</div>
